@{
    ViewBag.Title = "About";
}
<h2>About On Cloud Wine</h2>
<h3>An ADSS Project created by Mark Ruzinov</h3>

<p>This project was made as required by the course Architecture and Design of Software Systems.</p>
<p>Coded in 2020 as well as 2021, this ASP.NET MVC internet application utilizes the modal view controller system to process and display data.</p>
<p>The information is stored and received from a SQL Server 2019 instance running on the same machine.</p>
