@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us</h2>
<h3>Please reach out to us at these locations:</h3>

<address>
    Seven Random Boulevard<br />
    Tallahases, WY 33654<br />
    <abbr title="Phone">P:</abbr>
    +1 (473) 284-3284
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@oncloudwine.com">Support@oncloudwine.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@oncloudwine.com">Marketing@oncloudwine.com</a>
</address>